{% extends "base_public.html" %}
{% load bootstrap4 %}

{% block title %}Become a Quadrivium member{% endblock %}

{% block content %}
    <h2>Become a member</h2>
    <p>
        Great that you're interested in becoming a member of Quadrivium, the student music association! If you're not
        sure yet, please fill in the other form. The yearly contribution fee for a membership is around 75 euros for
        students and 150 for non-students. Please note: Your membership will be automatically extended. If you wish to
        unsubscribe, you must inform the secretary.
    </p>
    <p>
        <small class="text-muted">
            Why we need these personal details is indicated in our
            <a href="https://esmgquadrivium.sharepoint.com/:b:/g/EdOOvjXmMr1Nndcz0TxlR7ABHp742itPXhYwOZFG43oJXA?e=iQZ7So"
               target="_blank">
                privacy document</a> (in Dutch).
        </small>
    </p>

    <form method="post" action="{% url 'members:subscribe' %}">
        {% csrf_token %}
        {% bootstrap_form_errors form type="non_fields" %}
        <div class="form-group row required">
            {% bootstrap_field form.first_name label_class="font-weight-bold control-label" required_css_class="required" form_group_class="col-sm-3" %}
            {% bootstrap_field form.last_name label_class="font-weight-bold control-label" required_css_class="required" form_group_class="col-sm-9" %}
        </div>
        {% bootstrap_field form.email label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.ensure_subscribe label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.initials label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.phone_number label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.instruments label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.street label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.postal_code label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.city label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.country label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.gender label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.date_of_birth label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.preferred_language label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.is_student label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.field_of_study label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.iban label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.tue_card_number label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.sub_association label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.add_to_chats label_class="font-weight-bold control-label" required_css_class="required" %}
        <h3>Visual media consent</h3>
        {% bootstrap_field form.photo_video_consent_external_group label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.photo_video_consent_external label_class="font-weight-bold control-label" required_css_class="required" %}
        {% bootstrap_field form.photo_video_consent_internal label_class="font-weight-bold control-label" required_css_class="required" %}
        <h3>Remarks</h3>
        {% bootstrap_field form.remarks show_label=False label_class="font-weight-bold control-label" required_css_class="required" %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Become a member</button>
        {% endbuttons %}
    </form>

{% endblock %}